{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid home-container height-fill">

    <div class="row">
        <div class="col-lg-12 title-box bg-green text-center p-5">
            <h1 class="montserrat">EASY LIVING, BEST RATES <br><span class="montserrat-bold">LOVE WHERE
                    YOU LIVE</span> </h1>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 title-box bg-lightgrey">
            <h4>Latest listings</h4>
        </div>
    </div>

</div>
{% endblock %}