.top-container {
    padding-top: 56px;
}

.montserrat-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.montserrat {
    font-family: 'Montserrat', sans-serif;
}

.bg-green {
    background-color: #3AAFA9;
}

.bg-darkest {
    background-color: #17252A;
}

.bg-lightgrey {
    background-color: #e6eaea;
}

.full-height {
    min-height: 100vh;
}

/* --------Home--------- */
.title-box {
    height: 50vh;
}

.title-box h1 {
    text-align: center;
    position: relative;
    top: 65%;
    -ms-transform: translateY(-65%);
    -webkit-transform: translateY(-65%);
    transform: translateY(-65%);
}

.title-box h4 {
    text-align: center;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.bold-title {
    font-weight: bold;
}

/* ------Listings----------- */
.carousel-container {
    margin-top: 55px;
}

.carousel-inner,
.carousel-item {
    width: 100%;
    height: 50vh !important;
}

.carousel-item img {
    height: inherit;
    object-fit: cover;
    object-position: 50% 50%;
}

/* ------Add listing----------- */

.add-listing-form p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.add-listing-form .textinput,
.add-listing-form .select {
    margin: 10px 0;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #3AAFA9;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.add-listing-form .textarea {
    margin: 10px 0;
    box-sizing: border-box;
    padding: 10px 12px;
    border: 1px solid #3AAFA9;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}


/* ------Allauth form formatting--------- */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    color: #6c757d;
}

.allauth-form-inner-content .textinput {
    margin: 10px 0;
    box-sizing: border-box;
    height: 40px;
    padding: 10px 12px;
    border: 1px solid #3AAFA9;
    background-color: white;
    width: 100%;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.allauth-form-inner-content label {
    margin: 10px 0 0 0;
}

.allauth-form-inner-content input:focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
    border-color: #80bdff;
}

.allauth-form-inner-content .btn {
    margin-top: 15px;
}